$width-site: 1000px; // Создание переменной в scss для дальнейшего использования в коде
$color-block: #777; // Создание переменной в scss для дальнейшего использования в коде
$border-width: 3px; // Создание переменной в scss для дальнейшего использования в коде
$border: $border-width solid $color-block; // Создание переменной в переменной в scss для дальнейшего использования в коде


* {
    margin: 0;
    padding: 0;
}

.header {
    height: 100px;
    background-color: $color-block;
    width: $width-site;
    margin: 0 auto;
}


// Вложенность элементов:
// Sass позволяет вкладывать правила CSS друг в друга. Вложенные правила применяются только для элементов,
// соответствующих внешним селекторам.
// Это помогает избежать повторения родительских селекторов,
// и делает сложные CSS макеты с большим количеством вложенных селекторов гораздо проще: 
.menu {
    display: flex;
    width: $width-site;
    margin: 0 auto;
    justify-content: center;

    &__list { // Для вложенных элементов (например вместо .main__list) можно написать амперсанд (&) --> &__list
        list-style-type: none;
    }

    &__link {// Для вложенных элементов (например вместо .main__link) можно написать амперсанд (&) --> &__link
        text-decoration: none;
        display: block;
        padding: 16px 32px;
    }
}


.content {
    padding: 50px 0;
    width: $width-site;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer {
    height: 100px;
    background-color: darken($color-block, 20);
    // Параметры можно редактировать. 
    // В данном случае изменили цвет --> darken($color-block, 50);
    // Все фильтры работают по принципу,
    // при котором sass / scss анализирует переменную с цветом,
    // а затем вносит указанные корректировки. Многие корректировки можно указывать используя знак %, либо опуская этот знак,
    // результат будет идентичным. Темнее и светлее darken — темнее. lighten — светлее. Эти два параметра регулируют яркость значений цвета HSL. Корректировки указываются значением от 0 до 100. В случае если исходный цвет имеет максимальную / минимальную яркость,
    // соответствующая функция не сработает.
    // Насыщать и обесцвечивать saturate — насыщать. desaturate— обесцвечивать.
    width: $width-site;
    margin: 0 auto;
}

.content__item {
    width: ($width-site / 3 - 2 * $border-width);
    height: 250px;
    border: $border-width solid #000;
}