* {
    margin: 0;
    padding: 0;
}

body {
    background: #020A18;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.top {
    padding-bottom: 99px;
}

.top__info {
    width: 604px;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.top__buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

.top__logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 71px;
}

.subtitle {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
}

.title {
    margin-bottom: 40px;
    font-style: normal;
    font-weight: 800;
    font-size: 55px;
    line-height: 130%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text {
    width: 558px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
}

.button {
    padding: 15px 30px;
    background: #3A68B8;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    outline: none;
    border: none;
    display: flex;
    gap: 10px;
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
}

.item__text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}